
<aside class="Hui-aside">
	
<div class="menu_dropdown bk_2">
    {volist name="category" id="vo"}        
		<dl >
			<dt ><i class="Hui-iconfont">{$vo.cate_icon}</i> {$vo.cate_title}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd> 
				<ul>
					{volist name="vo['son']" id="voson"}
					<li>
						<a href="{$voson.cate_url}" title="{$voson.cate_title}" >{$voson.cate_title}</a>
					</li>
					{/volist}
				</ul>
					
			</dd>
				
				
		</dl>
    {/volist}
</div>

</aside>
<div class="dislpayArrow hidden-xs"> <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a> </div>
<!--/_menu 作为公共模版分离出去-->
<script>

  
</script>