

<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/style.css" />
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="cl pd-20">
	<form id="add" method="post" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$admin.name}" disabled="disabled"  id="name" name="name">
			</div>
		</div>
		
            
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否变为超级管理员：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="yn" type="radio" id="yes" value='1' >
					<label for="yes">是</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="no" value='0' name="yn" >
					<label for="no">否</label>
				</div>
			</div>
		</div>      
            
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>其他权利：</label>
			
                        <label class="">
                        	
                            <input type="checkbox" {if condition="$admin_role['delArticle']" eq 1}checked="checked"{/if} id='roleArticle1' value="1" name="roleArticle" id="user-Character-0-0-3">
                            删除文章
                        </label>
                        <label class="">
                            <input type="checkbox" {if condition="$admin_role['delComment']" eq 1}checked="checked"{/if} id='roleArticle2' value="2" name="roleArticle" id="user-Character-0-0-3">
                            删除评论
                        </label>
                        <label class="">
                            <input type="checkbox" {if condition="$admin_role['delPhoto']" eq 1}checked="checked"{/if} id='roleArticle3' value="3" name="roleArticle" id="user-Character-0-0-3">
                            删除照片
                        </label>
                        
		
		</div>
            
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" id="button" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<script type="text/javascript">
$(document).ready(function(){
    $('#button').click(function(){
        
        $.ajax({
            type:"post",
            dataType:"json",
            url:"{url('adminRole')}?admin_id="+{$admin['id']},
            data:{
                radio:$('input:radio:checked').val(),
                roleArticle:$("input[name='roleArticle']:checked").serialize()
            },
            success:function(data){
                if(data.status==0){
                    layer.msg(data.message);
                }else{
                    layer.msg(data.message);
                }
            }
        });
    });
});
</script>
<script>
    function checkLen(obj){ 
        var max = 100;
        if (obj.value.length > max) {
            obj.value = obj.value.substring(0,max); 
        }
        var curr = obj.value.length; 
        $('#len').html( curr.toString()); 
    } 
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>