body{
    background: url(../img/background/article.jpg) no-repeat ;
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

.content{
    width: 100%;   
    height: 100%;  
    
}
.content .top{
   position: relative;       
}
.top .t_img1{

    width: 500px;
    height: 104px;
    background: url(../img/logo/article.png)no-repeat;
    position: absolute;
    top: 70px;
    left: 200px;
}

.top .t_img2{

    width: 300px;
    height: 50px;
    background: url(../img/logo/articleEng.png)no-repeat;
    position: absolute;
    top: 170px;
    left: 240px;
}

.con_form{
    width: 700px;
    height: 570px;
    float: left;
    margin-top: 200px;
    margin-left: 610px;
    background-color: white;
    opacity: .85;
    border-radius: 30px;
}

.con_form:hover{
    box-shadow: 15px 15px 10px #888888;
}

.con_form .inf{
    margin-top: 17px;
    margin-left: 15px; 

}

.con_form .p1{
        
        font: bold 17px Georgia;
	color: #666666;
        
}

.con_form .p1 a{
        
        font: bold 17px Georgia;
	color: #666666;
        
}
.con_form .p1 a:hover{
    color:#888888;
}

.con_form ul{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;

}

.con_form ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.con_form ul li .infoP1{
    font: bold 25px Georgia;
    color: #666666;
}

.con_form ul li input{
        width: 350px;
	height: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid dimgrey;
        text-align: center;
}

.con_form ul li input:focus{
        outline: none;
	border-bottom: 2px solid #333333;
}

.con_form ul li textarea{

    margin-top: 20px;
    width: 500px;
    height: 300px;
    resize: none;
}
#button{
    float:right;
    margin-top: 20px;
    width: 200px;
    font: bold 25px Georgia;
    border:2px solid #333333;
}
#button:hover{
    cursor: pointer;
    color: white;
    background: #888888;
    border:2px solid #666666;
}




