*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}

a{
	text-decoration: none;
}


/*head*/

.header{
	
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f0efef;
	z-index: 999;
	opacity: .65;	  	
}

.header_in img{
	width: 50px;
	height: 50px;
	margin-left: 1%;
	
}


.header_ul{
	float: right;	
}



.header_ul li{
	float: left;
	padding-top: 4%;
	padding-right: 25px;
	
	
	

}

.header_ul li a{
	color: #666666;
	font: bold 15px Georgia ;
}

.header_ul li a:hover{
	color: #a09f9f;
}
.header_ul li p{
	color: #666666;
	text-align: center;
	font:  11px Tahoma;
}
.sess{
    position: absolute;
    top: 20px;
    left:85px;
}

.sess  a{
    color: #666666;
    font: bold 18px Georgia ;

    
}
.sess a:hover{
	color: #a09f9f;
}



.ft_center p,.ft_right p{
	text-align: center;
	font-size: 11px;
	
	
}



.ft_p {
	
	color: #8e8e8e;
	font: 11px Helvetica;
	text-align: center;
	
	
}
 
.foot{
    border-top: 10px solid #4c4c4c;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    background-color: #333333;
    
}
.foot h1{
    color: #8e8e8e;
    font: 20px Helvetica;
    text-align: center;
    
}
.foot div{
    margin-top: 3px;
}
.foot p{
    color: #8e8e8e;
    font: 11px Helvetica;
    text-align: center;  
}

