body{
    background: url(../img/background/photo.jpg) no-repeat ;
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

.content{
    width: 100%;   
    height: 100%;   

}
.content .top{
   /*position: relative;  */

}
.top .t_img1{

    width: 500px;
    height: 104px;
    background: url(../img/logo/go.png)no-repeat;
    position: absolute;
    top: 120px;
    left: 200px;
}

.top .t_img2{
    width: 300px;
    height: 50px;
    background: url(../img/logo/letgo.png)no-repeat;
    position: absolute;
    top: 200px;
    left: 240px;
}

.con_form{
    width: 1400px;
    margin:210 auto;
    background-color: white;
    opacity: .85;
    border-radius: 30px;
    border: 1px solid white;
    padding-bottom: 20px;
}

.con_form:hover{
    box-shadow: 15px 15px 10px #888888;
}

.con_form .inf{
    display: block;
    margin-top: 20px;
    margin-left: 15px; 


}

.con_form .p1{
        
    font: bold 17px Georgia;
	color: #666666;
        
}

.con_form .p1 a{
        
    font: bold 17px Georgia;
	color: #666666;
        
}
.con_form .p1 a:hover{
    color:#888888;
}

.travelInfo{
    width:90%;
    margin:1% auto;
    position: relative;
}

.tr{
    width: 100%;

}

.tr li{
    width: 100%;
    height: 20%;
    margin-bottom: 2%;
}

.sign{
    width: 35%;
    height: 100%;
    border-radius: 3%;
    margin-left: 5%;
    float: left;
}

.sign:hover{
    box-shadow: 15px 15px 10px #888888;
}

.infoRight{
    margin-right: 5%;
    float: right;
    width: 30%;
    height: 100%;

}

.rtr{
    margin-top: 2%;
}


.right_p{
    font: bold 17px Georgia;
    color: #666666;
    line-height: 50px;
}

.addTravel{
    margin-top: 5%;
    margin-right: 2%;
    float: right;
    width: 200px;
    height: 50px;

}





.pagination{
    text-align:center;margin-top:20px;margin-bottom: 20px;
    
}  

.pagination li{
    margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;
    border-radius: 5spx;
}  

.pagination .active{
    background-color: #66ccff;color: #fff;
}  
.pagination .disabled{
    color:#66ccff;
}  

.sigUpload{
    width: 420px;
    height: 280px;
    border-radius: 20px;

}
.sigUpload:hover{
    box-shadow: 10px 10px 8px #888888;
}


