body{
    background: url(../img/background/vistInfo.jpg) no-repeat ;
    background-size: 1920px 1080px;
    background-attachment: fixed;

}

.content{
    width: 100%;   
    height: 100%;
}

.top .t_img1{ 

    width: 500px;
    height: 104px;
    background: url(../img/logo/vistInfo.png)no-repeat;
    position: absolute;
    top: 120px;
    left: 200px;
}

.top .t_img2{

    width: 300px;
    height: 50px;
    background: url(../img/logo/engInfo.png)no-repeat;
    position: absolute;
    top: 220px;
    left: 240px;
}

.con_form{
    width: 850px;   
    margin:200px auto;
    background-color: white;
    opacity: .85;
    border-radius: 30px;
}

.con_form:hover{
    box-shadow: 15px 15px 10px #888888;
}
.con_form .inf{
    padding-top: 20px;
    margin-left: 15px; 

}

.con_form .p1{
        
        font: bold 17px Georgia;
	color: #666666;
        
}
.con_form .p1 a{
        
        font: bold 17px Georgia;
	color: #666666;
        
}
.con_form .p1 a:hover{
    color:#888888;
}

.con_form ul{
        width: 600px;
    margin: 10px auto;


}

.con_form ul li{
/*   border: 1px solid red;*/
padding-top: 10px;
padding-bottom: 10px;
    
}
.con_form ul li .infoP1{
    font: bold 25px Georgia;
    color: #666666;
}

.infoP1 span{
    font:  22px Georgia;
    color: #666666; 
}
.con_form  .arr{
    width: 400px;
    margin-top: 10px;
}

.con_form .arr a{
    font: bold 22px Georgia;
    color: #666666;
}

.con_form .arr a:hover{
    color:#888888;
}

.article_info{

    margin-left: 50px;
    margin-bottom: 10px;
}



