{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/article.css"/>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.page.js"></script>        
        
      <div class="content">
            <div class="top">
                <div class="t_img1"></div>
                <div class="t_img2"></div>
            </div >
            
            <div class="con_form">
                <div class="inf">
                  <span class="p1">
                    <a  href="javascript:;" onclick="List(0)">默认排序</a>|
                    <a href="javascript:;" onclick="List(1)">热度排序</a>|
                    <a href="{:url('Article/articleWrite')}">发表文章</a>
                  </span>
                </div>      
                {volist name="article" id="vo"}
                <ul>
                    <li>
                      <p>{:date('Y/m/d',$vo.article_update_time)}&nbsp;&nbsp;&nbsp;<a href="{:url('article/articleShow')}?article_id={$vo.article_id}">{$vo.article_title}</a>
                        {if condition="$vo.article_on_top eq 1"}
                          <b class="look">[置顶]</b>
                        {/if}
                        <b class="look">(浏览:{$vo.look_count})</b>
                        <b class="look">(评论:{$vo.comment_count})</b>
                        <span>
                          <a href="{:url('vist/vistOthInfo')}?vist_id={$vo.vist_author_id}">作者：{$vo.article_author}</a>
                        </span>
                      </p>
                    </li>
                </ul> 
                {/volist}
                {$article->render()}
            </div>
            
      </div>
        
        {include file="public/footer"}
        
<script type="text/javascript">
    function List(num){
        var url=window.location.href;
        if(url.indexOf("1=1")>-1){
          if(url.indexOf("page=")>-1){
            url = url.replace(/page=\d*/, '');
          }
          if(url.indexOf("List=")>-1){
            url = url.replace(/List=\d*/, 'List='+num);
          }else{
            url=url+"&List="+num;
          }  
        }else{
          url=url+"?1=1";
          if(url.indexOf("page=")>-1){
            url = url.replace(/page=\d*/, '');
          }
          if(url.indexOf("List=")>-1){
            url = url.replace(/List=\d*/, 'List='+num);
          }else{
            url=url+"&List="+num;
          }  
        }

        window.location.href=url;
    }

</script>

    </body>
