{include file="public/header"}
<!doctype html> 
<link rel="stylesheet" type="text/css" href="__STATIC__/css/travel.css"/>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.page.js"></script>        
        
        <div class="content">
            <div class="top">
                <div class="t_img1"></div>
                <div class="t_img2"></div>
            </div >
            
            <div class="con_form">
            
                <div class="inf">
                    <span class="p1">
                        <a  href="javascript:;" onclick="List(0)">默认排序</a>|
                        <a href="javascript:;" onclick="List(1)">参与人数排序</a>|
                        <a href="javascript:;" onclick="sponsTravel('上传图片','sponsTravel.html','{$role}')">发起旅游</a>
                    </span>
                </div>      
                <div class="travelInfo">
                    <ul class="tr">
                        {volist name="travel" id="vo"}
                        <li>
                            <img class="sign" src="__STATIC__/{$vo.travel_img_url}" onclick="detail('travelDetail.html?travel_id={$vo.travel_id}')">
                            {if condition ="$role eq 2"}
                            <button class="addTravel" onclick="join('{$role}','','{$vo.sponsor_id}','{$vo.travel_id}')">请先登录</button>
                            {else/}
                            <button class="addTravel" onclick="join('{$role}','{$vist.vist_id}','{$vo.sponsor_id}','{$vo.travel_id}')">立刻加入</button>
                            {/if}
                            <div class="infoRight">
                                <ul class="rtr">
                                    <li><p class="right_p">发起者：{$vo.sponsor_name}</p></li>
                                    <li><p class="right_p">目的地：{$vo.travel_place}</p></li>
                                    <li><p class="right_p">时间：{:date('Y/m/d',$vo.sponsor_starttime)}-{:date('Y/m/d',$vo.sponsor_endtime)}</p></li>
                                    <li><p class="right_p">参与人数：{$vo.participant_count}</p></li>
                                </ul>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                </div>
                {$travel->render()}
            
                
                
            </div>
             
        </div>
        
        {include file="public/footer"}

<script>
   
    
function sponsTravel(title,url,role){
    if(role==2){
        layer.msg('请先登录');
    }else{
        if(role==0){
            layer.msg('只有会员用户可以发起旅游');
        }else{
            layer.open({
                title:'走',
                type:2,
                content:url,
                offset: '80px',
                area:['1000px','800px'],
                end:function(){
                    window.location.href="{:url('travel/travel')}";
                }
            });  
        }
    }      
}
</script>
<script type="text/javascript">
    function List(num){
        var url=window.location.href;
        if(url.indexOf("1=1")>-1){
          if(url.indexOf("page=")>-1){
            url = url.replace(/page=\d*/, '');
          }
          if(url.indexOf("List=")>-1){
            url = url.replace(/List=\d*/, 'List='+num);
          }else{
            url=url+"&List="+num;
          }  
        }else{
          url=url+"?1=1";
          if(url.indexOf("page=")>-1){
            url = url.replace(/page=\d*/, '');
          }
          if(url.indexOf("List=")>-1){
            url = url.replace(/List=\d*/, 'List='+num);
          }else{
            url=url+"&List="+num;
          }  
        }

        window.location.href=url;
    } 

</script>

<script type="text/javascript">
    function detail(url){
        layer.open({
            title:'信息详情',
            type:2,
            content:url,
            offset: '100px',
            area:['1000px','820px'],
            
        });  
    }

    function join(role,vist_id,sponsor_id,travel_id){
        if(role==2){
            // layer.msg('请先登录');
            window.location.href="{:url('vist/vistLogin')}";
        }else{
            if(vist_id==sponsor_id){
                layer.msg('您就是发起者。');
            }else{
                window.location.href="{:url('travel/travelAdd')}?vist_id="+vist_id+"&travel_id="+travel_id;
            }
        }
    }
</script>

</body>
